HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
/order/.env

/data/pgdata
/gateway/.env
/restaurant/.env
/member/.env
/.env
/data/redis
/data/redis/appendonlydir/appendonly.aof.1.base.rdb
/data/redis/appendonlydir/appendonly.aof.1.incr.aof
/data/redis/appendonlydir/appendonly.aof.manifest
/data/redis/dump.rdb
/pay/.env
/seller/.env
/rider/.env
/delivery-front/.env
/delivery-front/.gitignore
